@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 150px;
}

.nav_title {
  color: #181818;
  font-size: 45px;
}

.text {
  color: #FD6E0A;
}

.btn-primary {
  border-radius: 5px;
  background: #FD6E0A;
  border: 0;
  font-size: 20px;
  font-weight: 00;
  color: white;
  padding: 15px 35px;
  margin-right: 20px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: var(--Dark-02, #474747);
  font-size: 20px;
}
.header{
  background: #FFF8F3;
  background-image: url(/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner{
  display: flex;
  padding: 30px 30px 30px 150px;
  align-items: center;
}
.banner .profile-pic{
  width: 500px;
}
.banner-greeting{
  font-size: 45px;
  color: #474747;
  margin-bottom: 5px;
}
.banner-title{
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  margin-top: 0;
  margin-bottom: 20px;
}
.banner-description{
  margin-bottom: 30px;
}
.banner-button{
  padding: 18px 18px 15px 30px;
}